<form
  class="form animate-fade"
  id="supporter-form"
  hx-post="{% url 'add-supporter' %}"
  hx-target="#supporters-table"
  hx-swap="outerHTML"
  hx-on:submit="removeErrorList()"
  hx-on::after-request="document.getElementById('messages').click();"
  hx-on::after-swap="document.getElementById('supporter-form-reset').click()"
>
  <h1>إضافة اختصاص جديد</h1>
  {{ form }}
  <div class="flex item-center justify-center gap-1 my-8">

    <button 
    type="submit" 
    class="btn btn-success flex items-center gap-1" 
    title="إضافة"
    >
      {% include 'includes/icons/floppy.html' with ratio="1rem" %}
      <span>إضافة</span>
    </button>

    {% include 'faculties-supporters/partials/reset-btn.html' %}

  </div>
</form>
