<div class="context">
  <button class="context__btn">
    {% include 'includes/icons/dots.html' with ratio="1.25rem" %}
  </button>
  <div class="context__menu">
    <button
      hx-get="{% url 'get-update-form' id=supporter.id %}"
      hx-target="#supporter-form"
      hx-swap="outerHTML"
      title="تعديل {{ supporter.name }}"
    >
      تعديل
    </button>
    <button
      hx-delete="{% url 'delete-supporter' id=supporter.id %}"
      hx-confirm="هل تريد حذف الاختصاص {{ supporter.name }}؟"
      hx-target="#supporters-table"
      hx-select="#supporters-table"
      hx-swap="outerHTML"
      title="حذف {{ supporter.name }}"
      itemprop="delete"
    >
      حذف
    </button>
  </div>
</div>