{% load verbose_names %}

<div id="specialties-table" class="overflow-auto animate-fade rounded-md border border-slate-200">
  {% if specialties %}
  <table class="custom-table">

    <thead>

      <tr>
        <th>#</th>
        <th>{% get_verbose_field_name instance.faculty "name" %}</th>
        <th>{% get_verbose_field_name instance "name" %}</th>
        <th>{% get_verbose_field_name instance "percentage" %}</th>
        <th>{% get_verbose_field_name instance "is_specialist" %}</th>
        <th>#</th>
      </tr>

    </thead>

    <tbody>

      {% for specialty in specialties %}
      <tr id="specialty-{{ specialty.id }}" class="animate-fade">
        <td>{{ forloop.counter }}</td>
        <td>{{ specialty.faculty.name }}</td>
        <td>{{ specialty.name }}</td>
        <td>{{ specialty.percentage }}</td>
        <td>{%if specialty.is_specialist %}✅{% else %}❌{% endif %}</td>
        <td>{% include 'specialties/partials/context-menu.html' %}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  {% endif %}
</div>