{% load verbose_names %}
{% load i18n %}

<c-table id="faculties-table">

    <c-slot name="thead">
      <tr>
        <th>#</th>
        <th>{% get_verbose_field_name instance "name" %}</th>
        <th>{% get_verbose_field_name instance "count_of_scholarship_students" %}</th>
        <th>{% get_verbose_field_name instance "count_of_graduates" %}</th>
        <th>{% get_verbose_field_name instance "count_of_students" %}</th>
        <th>{% get_verbose_field_name instance "count_of_new_students" %}</th>
        <th>{% get_verbose_field_name instance "student_to_teacher_count" %}</th>
        <th>{% get_verbose_field_name instance "student_to_local_teacher_count" %}</th>
        <th>{% include 'apps/faculties/partials/table-context-menu.html' %}</th>
      </tr>
    </c-slot>

    <c-slot name="tbody">
      {% for faculty in faculties %}
      <tr id="faculty-{{ faculty.id }}" class="animate-fade">
        <td>{{ forloop.counter }}</td>
        <td>{{ faculty.name }}</td>
        <td>{{ faculty.count_of_scholarship_students }}</td>
        <td>{{ faculty.count_of_graduates }}</td>
        <td>{{ faculty.count_of_students }}</td>
        <td>{{ faculty.count_of_new_students }}</td>
        <td>{{ faculty.student_to_teacher_count }}</td>
        <td>{{ faculty.student_to_local_teacher_count }}</td>
        <td>{% include 'apps/faculties/partials/context-menu.html' %}</td>
      </tr>
      {% endfor %}
    </c-slot>

</c-table>