{% load i18n %}

<form
  class="form animate-fade"
  id="faculty-form"
  hx-post="{% url 'update-faculty' id=faculty.id %}"
  hx-target="#faculties-table"
  hx-swap="outerHTML"
  hx-on:submit="removeErrorList()"
>
  <h1>{{ faculty.name }}</h1>

  {{ form }}
  
  <div class="flex item-center justify-center gap-1 my-8 text-sm">

    <button type="submit" class="btn !bg-lime-500 hover:!bg-lime-600 text-white focus:!ring-lime-600 flex items-center gap-1" title="{% translate 'update' %}">
      {% include 'includes/icons/pen.html' with ratio="1rem" %}
      <span>{% translate 'update' %}</span>
    </button>

    <button
      type="submit"
      hx-post="{% url 'get-add-faculty-form' %}"
      hx-target="#faculty-form"
      hx-swap="outerHTML"
      class="btn !bg-orange-500 hover:!bg-orange-600 text-white focus:!ring-orange-600 flex items-center gap-1"
      title="{% translate 'add new faculty' %}"
    >
      {% include 'includes/icons/plus.html' with ratio="1rem" %}
      <span>{% translate 'add New' %}</span>
    </button>

    {% include 'apps/faculties/partials/reset-btn.html' %}

  </div>
</form>
