<form
  class="form my-4"
  hx-get="{% url 'staff-index' %}"
  hx-target="#staff-table"
  hx-select="#staff-table"
  hx-swap="outerHTML"
  hx-on::after-request="resetTableIdx()"
  id="staff-filter-form"
>
  <div class="grid grid-cols-7 gap-2">{{ filter_form }}</div>

  <div class="flex items-center justify-center gap-1 my-4">

    <button class="btn btn-primary flex items-center gap-1" type="submit">
      <span>
        {% include 'includes/icons/filter.html' with ratio="1rem" %}
      </span>
      <span>تصفية</span>
    </button>

    <button
      class="btn btn-secondry flex items-center gap-1"
      hx-get="{% url 'staff-index' %}"
      hx-swap="outerHTML"
      hx-target="#staff-table"
      hx-select="#staff-table"
      hx-on:click="document.getElementById('staff-filter-form').reset()"
    >
      <span>
        {% include 'includes/icons/reset.html' with ratio="1rem" %}
      </span>
      <span>إعادة تعيين</span>
    </button>
    
  </div>
</form>