
<div class="w-full flex justify-between items-center gap-2 px-2 py-1 text-xs tracking-tighter"
>
  
  <div>
    <span>{{ staff.start_index }}</span>
    <span>-</span>
    <span id="total">{{ staff.end_index }}</span>
    <span>من</span>
    <span id="filtered-total">{{ filtered_total }}</span>
  </div>

<div class="flex items-center gap-1">

    <button 
      class="rounded-full disabled:text-slate-400 [&:not(:disabled)]:hover:bg-slate-200 duration-150 p-1"
      hx-get="{% url 'staff-index' %}"
      hx-target="#staff-table"
      hx-select="#staff-table"
      hx-swap="outerHTML"
      hx-vals='{{ params_last }}'
      title="Last"
      role="navigation"
      {% if not staff.has_next %}disabled{% endif %}
    >
      <span>
        {% include 'includes/icons/double-right-arrow.html' with ratio="1.25rem" %}
      </span>
    </button>

    <button 
      class="rounded-full disabled:text-slate-400 [&:not(:disabled)]:hover:bg-slate-200 duration-150 p-1"
      hx-get="{% url 'staff-index' %}"
      hx-target="#staff-table"
      hx-select="#staff-table"
      hx-swap="outerHTML"
      hx-vals='{{ params_next }}'
      title="next"
      {% if not staff.has_next %}disabled{% endif %}
      role="navigation"
    >
      <span>
        {% include 'includes/icons/right-arrow.html' with ratio="1.25rem" %}
      </span>
    </button>

    <span>صفحة</span>
    <span>{{ staff.number }}</span>
    <span>من</span>
    <span>{{ staff.paginator.num_pages }}</span>

    <button 
      class="rounded-full disabled:text-slate-400 [&:not(:disabled)]:hover:bg-slate-200 duration-150 p-1"
      hx-get="{% url 'staff-index' %}"
      hx-target="#staff-table"
      hx-select="#staff-table"
      hx-swap="outerHTML"
      hx-vals='{{ params_previous }}'
      title="previous"
      {% if not staff.has_previous %}disabled{% endif %}
      role="navigation"
    >
      <span>
        {% include 'includes/icons/left-arrow.html' with ratio="1.25rem" %}
      </span>
    </button>

    <button 
      class="rounded-full disabled:text-slate-400 [&:not(:disabled)]:hover:bg-slate-200 duration-150 p-1"
      hx-get="{% url 'staff-index' %}"
      hx-target="#staff-table"
      hx-select="#staff-table"
      hx-swap="outerHTML"
      hx-vals='{{ params_first }}'
      title="First"
      {% if not staff.has_previous %}disabled{% endif %}
      role="navigation"
    >
      <span>
        {% include 'includes/icons/double-left-arrow.html' with ratio="1.25rem" %}
      </span>
    </button>

  </div>

</div>


