<div
  id="staff-table"
  class="overflow-auto scroll-px-4 rounded-md h-[60vh] animate-fade border border-slate-200"
>
  <table class="custom-table relative">
    <thead class="sticky top-0 left-0 shadow-md z-10 bg-slate-100">
      <tr>
        <th>#</th>
        <th>الاسم</th>
        <th>الكلية</th>
        <th>الاختصاص</th>
        <th>الدرجة العلمية</th>
        <th>التفرغ</th>
        <th>ملاك</th>
        <th>يحتسب</th>
        <th>الخيارات</th>
      </tr>
    </thead>

    <tbody>
      {% for stf in staff %} {% include 'staff/partials/table-row.html' %} {% endfor %}
    </tbody>
  </table>
</div>
