@tailwind base;
@tailwind components;
@tailwind utilities;


form.form {
  @apply p-4 border border-slate-200 rounded-md;

  & h1 {
    @apply text-2xl tracking-tighter font-semibold my-2 underline;
  }

  & > div {
    @apply relative;
  }

  & .helptext {
    @apply absolute ltr:left-full rtl:right-full -top-5 z-10 text-xs bg-slate-700 text-white p-3 rounded-md opacity-0 duration-150 text-center;
  }

  & .errorlist li {
    @apply text-sm text-red-600 font-semibold tracking-tighter my-1;
  }

  & .errorlist ~ input {
    @apply ring-2 ring-red-600 bg-red-50;
  }

  & > div:hover .helptext {
    @apply opacity-100;
  }

  & label {
    @apply text-sm my-1 duration-150 block capitalize;
  }

  & div:has(input[type="checkbox"]) {
    @apply flex my-2 accent-orange-500 items-center gap-2 outline-none focus:ring-2 focus:ring-orange-500;
  }

  & input:not(input[type="checkbox"]),
  select,
  textarea {
    @apply bg-slate-50 outline-none focus:ring-2 focus:ring-orange-500 px-2 py-1 rounded-md block w-full;
  }
}

table.custom-table {

  & thead tr {
    @apply bg-slate-100;
  }

  & tbody tr:hover {
    @apply bg-slate-100;
  }

  & th {
    @apply capitalize;
  }

  & th,
  td {
    @apply p-1 text-sm;
  }

  & td {
    @apply whitespace-nowrap border-t border-b border-slate-300 text-center text-slate-800;
  }

  & th [role="menu"] {
    @apply top-0;
  }
  & tbody tr:first-child [role="menu"] {
    @apply top-0;
  }
  & tbody tr:not(:first-child) [role="menu"] {
    @apply bottom-0;
  }
}

.login {
  @apply min-h-screen my-2 py-1 px-4 w-[min(100%,50ch)] mx-auto;

  & .login__header {
    @apply text-center my-2;
    h1 {
      @apply tracking-tighter text-3xl uppercase;
    }
    p {
      @apply text-sm text-slate-500 font-light;
    }
  }

  & .errorlist {
    @apply my-2;
    li {
      @apply py-2 px-4 bg-orange-100 text-orange-700 rounded-md;
    }
  }

  & form > div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-block: .5em;
  }

  & form > div > input {
    padding: .75em 1em;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    @apply bg-slate-50 shadow-inner rounded-md focus:ring-2 ring-orange-500;
  }
  
  & form > div > label {
    font-weight: bold;
    letter-spacing: -1px;
  }
  
  & form input[type="submit"] {
    @apply btn w-full py-4 px-4 my-4;
  }
}

#spinner.htmx-request {
  @apply !flex;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-orange-500;
}
::-webkit-scrollbar {
  @apply w-2 h-2;
}

.success {
  @apply bg-green-600;
}

.danger {
  @apply bg-red-600;
}

.btn {
  @apply px-2 py-1 font-semibold text-center duration-150 outline-none tracking-tighter rounded-md focus:ring-2 bg-slate-50 hover:bg-slate-100 focus:ring-slate-200 capitalize;
}

[role="menu"] button {
  @apply capitalize whitespace-nowrap !font-normal;
}