{% load i18n %}

<form
  class="form animate-fade"
  id="capacity-form"
  hx-get="{% url 'index' %}"
  hx-target="#results-table"
  hx-select="#results-table"
  hx-swap="outerHTML"
  hx-on:submit="removeErrorList()"
>
  {{ form }}
  <div class="flex item-center justify-center gap-1 my-8">

    <button 
    type="submit" 
    class="btn !bg-orange-500 !text-white hover:!bg-orange-600 focus:!ring-orange-600 flex items-center gap-1" 
    title="{% translate 'Filter' %}"
    >
      {% include 'includes/icons/floppy.html' with ratio="1rem" %}
      <span>{% translate 'Filter' %}</span>
    </button>

    {% include 'apps/base/partials/reset-btn.html' %}

  </div>
</form>