<header id="navbar" class="w-[min(100%,80ch)] mx-auto my-2 p-6 rounded-md shadow-md sticky top-2 left-0 border border-slate-100 bg-white z-40">
  <nav class="flex items-center justify-between">

    <a href="{% url 'index' %}">
      <h1 class="tracking-tighter text-2xl font-semibold">WPU HR</h1>
    </a>

    <ul class="flex items-center justify-center gap-1">
      <li>
        <a 
          href="{% url 'faculties-index' %}"
          class="rounded-md px-2 py-1 hover:bg-slate-100 underline"
        >الكليات</a>
      </li>
      <li>
        <a 
          href="{% url 'specialties-index' %}"
          class="rounded-md px-2 py-1 hover:bg-slate-100 underline"
        >الاختصاصات</a>
      </li>
      <li>
        <a 
          href="{% url 'staff-index' %}"
          class="rounded-md px-2 py-1 hover:bg-slate-100 underline"
        >الهيئة التدريسية</a>
      </li>
    </ul>

    <div class="rounded-md relative bg-slate-50 hover:bg-slate-100 px-2 py-1 cursor-pointer group/parent">
      <div class="flex justify-center items-center gap-1">
        <h2 class="text-lg font-semibold tracking-tighter">
          {{ user.username }}
        </h2>
        <span>
          {% include 'includes/icons/drop-down.html' with ratio="1rem" %}
        </span>
      </div>
      <ul class="absolute top-[calc(100%+2px)] left-0 w-full z-10 bg-white rounded-md shadow-md duration-150 scale-0 overflow-hidden group-hover/parent:scale-100">
        <li>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button class="text-nowrap px-2 py-1 text-center block w-full hover:bg-slate-50 duration-150">Logout</button>
          </form>
        </li>
      </ul>
    </div>


  </nav>
</header>