{% load i18n %}

<form
  class="form animate-fade"
  id="specialty-form"
  hx-post="{% url 'add-specialty' %}"
  hx-target="#specialties-table"
  hx-swap="outerHTML"
  hx-on:submit="removeErrorList()"
  hx-on::after-swap="document.getElementById('specialty-form-reset').click()"
>
  <h1>{% translate 'Add new Specialty' %}</h1>
  {{ form }}
  <div class="flex item-center justify-center gap-1 my-8">

    <button 
    type="submit" 
    class="btn !bg-lime-500 hover:!bg-lime-600 text-white focus:!ring-lime-600 flex items-center gap-1" 
    title="{% translate 'Add' %}"
    >
      {% include 'includes/icons/floppy.html' with ratio="1rem" %}
      <span>{% translate 'Add' %}</span>
    </button>

    {% include 'apps/specialties/partials/reset-btn.html' %}

  </div>
</form>
