{% load i18n %}

<form
  class="form animate-fade"
  id="staff-form"
  hx-post="{% url 'add-staff' %}"
  hx-target="#staff-table"
  hx-swap="outerHTML"
  hx-on::after-request="resetTableIdx();
  document.getElementById('staff-reset-btn').click();
  document.getElementById('staff-filter-form').reset();
  addEventListenersToBtns();"
>
  <h1 class="capitalize">{% translate 'add new staff' %}</h1>
  {{ form }}
  <div class="flex item-center justify-center gap-1 my-8">

    <button 
    type="submit" 
    class="btn !bg-lime-500 hover:!bg-lime-600 text-white focus:!ring-lime-600 flex items-center gap-1" 
    title="{% translate 'add' %}"
    >
      {% include 'includes/icons/floppy.html' with ratio="1rem" %}
      <span>{% translate 'add' %}</span>
    </button>

    {% include 'apps/staff/partials/reset-btn.html' %}

  </div>
</form>
