{% load verbose_names %}
{% load i18n %}

<c-table id="staff-table">

  <c-slot name="thead">
    <tr>
      <th>#</th>
      <th>{% get_verbose_field_name instance "name" %}</th>
      <th>{% translate 'Faculty' %}</th>
      <th>{% get_verbose_field_name instance "specialty" %}</th>
      <th>{% get_verbose_field_name instance "degree" %}</th>
      <th>{% get_verbose_field_name instance "time" %}</th>
      <th>{% get_verbose_field_name instance.specialty "is_specialist" %}</th>
      <th>{% get_verbose_field_name instance "is_local" %}</th>
      <th>{% get_verbose_field_name instance "is_countable" %}</th>
      <th>#</th>
    </tr>
  </c-slot>

  <c-slot name="tbody">
    {% for stf in staff %} 
      {% include 'apps/staff/partials/table-row.html' %} 
    {% endfor %}
  </c-slot>

  <c-slot name="pagination">
    {% include 'apps/staff/partials/pagination.html' %}
  </c-slot>

</c-table>
