{% load i18n %}

<tr
  id="staff-{{ stf.id }}"
  class="animate-fade {% if not stf.is_countable %} bg-red-200 hover:!bg-red-300 {% endif %}"
  title="{% if stf.specialty.is_specialist %}{% translate 'Specialist' %}{% else %}{% translate 'Supporter' %}{% endif %}
{% if stf.is_local %}{% translate 'Local' %}{% else %}{% translate 'Foreign' %}{% endif %}"
>
  <td class="row-idx">{{ row_idx }}</td>
  <td>{{ stf.name }}</td>
  <td>{{ stf.specialty.faculty }}</td>
  <td>{{ stf.specialty.name }}</td>
  <td>{{ stf.degree }}</td>
  <td>{{ stf.time }}</td>
  <td>
    {% if stf.specialty.is_specialist %}
      <span class="text-lime-500 flex items-center justify-center">
        {% include 'includes/icons/check.html' with ratio="1.5rem" %}
      </span>
    {% else %}
      <span class="text-red-500 flex items-center justify-center">
        {% include 'includes/icons/x.html' with ratio="1.5rem" %}
      </span>
    {% endif %}
  </td>
  <td>
    {% if stf.is_local %}
      <span class="text-lime-500 flex items-center justify-center">
        {% include 'includes/icons/check.html' with ratio="1.5rem" %}
      </span>
    {% else %}
      <span class="text-red-500 flex items-center justify-center">
        {% include 'includes/icons/x.html' with ratio="1.5rem" %}
      </span>
    {% endif %}
  </td>
  <td>
    {% if stf.is_countable %}
      <span class="text-lime-500 flex items-center justify-center">
        {% include 'includes/icons/check.html' with ratio="1.5rem" %}
      </span>
    {% else %}
      <span class="text-red-500 flex items-center justify-center">
        {% include 'includes/icons/x.html' with ratio="1.5rem" %}
      </span>
    {% endif %}
  </td>
  <td>{% include 'apps/staff/partials/context-menu.html' %}</td>
</tr>
