{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <script defer src="{% static 'js/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>

    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body
    dir="rtl" 
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
    hx-boost="true" 
  >
    
    {% include 'includes/spinner.html' %}
    {% include 'includes/messages.html' %}
    
    {% include 'includes/navbar.html' %}
    <main class="p-4 mb-12 w-[min(100%,1200px)] mx-auto">
      {% block body %}{% endblock %}
    </main>
    {% include 'includes/footer.html' %}

    {% block scripts %}{% endblock %}

  </body>

</html>