<div class="context">
  <button class="context__btn">
    {% include 'includes/icons/dots.html' with ratio="1.25rem" %}
  </button>
  <div class="context__menu">
    <button
      hx-get="{% url 'get-update-form' id=faculty.id %}"
      hx-target="#faculty-form"
      hx-swap="outerHTML"
      title="تعديل {{ faculty.name }}"
    >
      تعديل
    </button>
    <button
      hx-delete="{% url 'delete-faculty' id=faculty.id %}"
      hx-confirm="هل تريد حذف كلية {{ faculty.name }}؟"
      hx-target="#faculties-table"
      hx-select="#faculties-table"
      hx-swap="outerHTML"
      title="حذف {{ faculty.name }}"
      itemprop="delete"
    >
      حذف
    </button>
  </div>
</div>