{% load verbose_names %}

<div id="faculties-table" class="overflow-auto animate-fade rounded-md border border-slate-200">
  <table class="custom-table">

    <thead>

      <tr>
        <th>#</th>
        <td>{% get_verbose_field_name instance "name" %}</td>
        <td>{% get_verbose_field_name instance "count_of_scholarship_students" %}</td>
        <td>{% get_verbose_field_name instance "count_of_graduates" %}</td>
        <td>{% get_verbose_field_name instance "count_of_students" %}</td>
        <td>{% get_verbose_field_name instance "supporters_percentage" %}</td>
        <td>{% get_verbose_field_name instance "local_staff_percentage" %}</td>
        <td>{% get_verbose_field_name instance "student_to_teacher_count" %}</td>
        <td>{% get_verbose_field_name instance "student_to_local_teacher_count" %}</td>
        <th>#</th>
      </tr>

    </thead>

    <tbody>

      {% for faculty in faculties %}
      <tr id="faculty-{{ faculty.id }}" class="animate-fade">
        <td>{{ forloop.counter }}</td>
        <td>{{ faculty.name }}</td>
        <td>{{ faculty.count_of_scholarship_students }}</td>
        <td>{{ faculty.count_of_graduates }}</td>
        <td>{{ faculty.count_of_students }}</td>
        <td>{{ faculty.supporters_percentage }}</td>
        <td>{{ faculty.local_staff_percentage }}</td>
        <td>{{ faculty.student_to_teacher_count }}</td>
        <td>{{ faculty.student_to_local_teacher_count }}</td>
        <td>{% include 'faculties/partials/context-menu.html' %}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>


<script>

  addEventListenersToDeleteBtns();

  function addEventListenersToDeleteBtns() {
    const event = "htmx:afterRequest";
    const listener = () => {
      document.getElementById("messages").click();
    };
    var deleteBtns = document.querySelectorAll('button[itemprop="delete"]');
    deleteBtns.forEach((btn) => {
      btn.removeEventListener(event, listener);
      btn.addEventListener(event, listener);
    });
  }
</script>