<div id="faculties-table" class="overflow-auto">

  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      {% for faculty in faculties %}
        <tr>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
          <td>{{ faculty.name }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

</div>