{% load verbose_names %}

<div id="faculties-table" class="overflow-auto animate-fade rounded-md border border-slate-200">
  <table class="custom-table">

    <thead>

      <tr>
        <th>#</th>
        <th>{% get_verbose_field_name instance "name" %}</th>
        <th>{% get_verbose_field_name instance "count_of_scholarship_students" %}</th>
        <th>{% get_verbose_field_name instance "count_of_graduates" %}</th>
        <th>{% get_verbose_field_name instance "count_of_students" %}</th>
        <th>{% get_verbose_field_name instance "local_staff_percentage" %}</th>
        <th>{% get_verbose_field_name instance "student_to_teacher_count" %}</th>
        <th>{% get_verbose_field_name instance "student_to_local_teacher_count" %}</th>
        <th>#</th>
      </tr>

    </thead>

    <tbody>

      {% for faculty in faculties %}
      <tr id="faculty-{{ faculty.id }}" class="animate-fade">
        <td>{{ forloop.counter }}</td>
        <td>{{ faculty.name }}</td>
        <td>{{ faculty.count_of_scholarship_students }}</td>
        <td>{{ faculty.count_of_graduates }}</td>
        <td>{{ faculty.count_of_students }}</td>
        <td>{{ faculty.local_staff_percentage }}</td>
        <td>{{ faculty.student_to_teacher_count }}</td>
        <td>{{ faculty.student_to_local_teacher_count }}</td>
        <td>{% include 'faculties/partials/context-menu.html' %}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
