<form
  class="form animate-fade"
  id="faculty-form"
  hx-post="{% url 'update-faculty' id=faculty.id %}"
  hx-target="#faculties-table"
  hx-swap="outerHTML"
  hx-on:submit="removeErrorList()"
>
  <h1>{{ faculty.name }}</h1>

  {{ form }}
  
  <div class="flex item-center justify-center gap-1 my-8 text-sm">

    <button type="submit" class="btn btn-success flex items-center gap-1" title="تحديث">
      {% include 'includes/icons/pen.html' with ratio="1rem" %}
      <span>تحديث</span>
    </button>

    <button
      type="submit"
      hx-post="{% url 'get-add-form' %}"
      hx-target="#faculty-form"
      hx-swap="outerHTML"
      class="btn btn-primary flex items-center gap-1"
      title="إضافة كلية جديدة"
    >
      {% include 'includes/icons/plus.html' with ratio="1rem" %}
      <span>إضافة كلية</span>
    </button>

    {% include 'faculties/partials/reset-btn.html' %}

  </div>
</form>
