{% extends 'base.html' %} 
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Staff' %}{% endblock %} 

{% block body %}

{% include 'apps/staff/partials/filter-staff-form.html' %}

  <div class="relative grid grid-cols-3 gap-4">
    <div class="col-span-1">
      {% include 'apps/staff/partials/add-staff-form.html' %}
    </div>
    <div class="col-span-2">
      {% include 'apps/staff/partials/staff-table.html' %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script defer src="{% static 'js/staff.js' %}"></script>
  <script id="staff-script" hx-swap-oob="true" hx-select-oob="true" defer>
    addEventListenersToBtns();
  </script>
{% endblock %}
